.typed {
  color: #0ef;
}

.multiple-text {
  margin: 0px 0px 20px 0px;
  font-size: 32px;
  font-weight: 700;
  animation: SlideTop 1s ease forwards;
}

@keyframes SlideTop {
  0% {
    transform: translateY(100px) scale(0.5);
  }
  100% {
    transform: translateY(0px);
  }
}
