.about-div {
  margin: 20px auto;
  width: 80%;
  display: block;
  justify-content: center;
  margin-top: 120px;
}

.about {
  margin-bottom: 20px;
  opacity: 0;
  animation: Bottom 1s ease forwards;
  animation-delay: 1s;
}

.about-div h3 {
  padding: 10px 130px;
  color: rgb(221, 185, 145);
}

.first {
  opacity: 0;
  animation: Right 1s ease forwards;
  animation-delay: 1.5s;
}

.second {
  opacity: 0;
  animation: Left 1s ease forwards;
  animation-delay: 2s;
}

.third {
  opacity: 0;
  animation: Top 1s ease forwards;
  animation-delay: 2.5s;
}

@keyframes Bottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes Left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes Top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
